@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #ff66c4;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .7rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: var(--green);
}

body {
    background-image: url(black.jpg);
    padding-right: 5rem;
}

section {
    padding: 2rem 9%;
    min-height: 100vh;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.heading span {
    text-transform: uppercase;
    color: var(--green);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: var(--green);
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 10px;
}

.btn:active {
    background: rgb(251, 110, 235);
    letter-spacing: .1rem;
    box-shadow: 1px 1px 10px 0px var(--green);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #170a32;
    z-index: 1000;
    border-left: 2px solid #3f2279;
    transition: .5s;
}

header .navbar {
    writing-mode: horizontal-tb;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .navbar a {
    padding: 1.5rem;
    font-size: 2rem;
    color: #e3d966;
}

header .navbar a:active {
    color: var(--green);
    text-shadow: 0px 5px 5px #000000;
    /* text-shadow: 0px 0px 20px rgb(143, 177, 236), 0 0 25px rgb(57, 6, 225), 0 0 5px rgb(118, 0, 253); */
    font-weight: bold;
    transform: translate(1px, 2px);
}

#menu-bars {
    position: fixed;
    z-index: 10000;
    top: 1rem;
    left: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: #fff;
    background: var(--green);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/* logo section */
.logo {
    position: relative;
    top: 5px;
    right: -1px;
    margin: auto;
    padding: auto;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    
     }
.logo:active{
    transform: rotate(360deg);
    border-radius: 50px;
    box-shadow: 1px 1px 10px 0px var(--green);
    position: relative;
    height: 58px;
    width: 58px;
}
/* home section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home .content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1rem double var(--green);
    cursor: pointer;
}

.home .content h3 {
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
}

.home .content h3 span {
    color: var(--green);
    text-transform: uppercase;
}

.home .content p {
    color: #fff;
    font-size: 2.5rem;
    line-height: 2;
}

/* about section */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.about .row .image {
    text-align: center;
    flex: 1 1 25rem;
}

.about .row .image img {
    width: 30rem;
    border-radius: 8px;
    border: .8px solid rgba(105, 20, 85, 0.615);
    box-shadow: 0rem 0rem 2rem 0rem rgb(222, 119, 172);
}


.about .row .content {
    flex: 1 1 55rem;
}

.about .row .content h3 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.about .row .content h3 span {
    color: var(--green);
}

.about .row .content .info {
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
    text-align: center;
}

.about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.about .row .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row .content .box-container .box p {
    font-size: 1.7rem;
    color: #fff;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span {
    color: var(--green);
}


/* skill section */

.skilllogo{
    position: relative;
    padding: 20px;
    left: 40px;
    color: rgba(161, 153, 233, 0.641);
    cursor: pointer;
}

.skilllogo:active{
    
    color: var(--green);
}

/* #bootstrapimg{ */
    /* height: 35px; */
    /* width: 35px; */
    /* position: relative; */
    /* left: 4rem; */
    /* bottom: 1.6rem; */
/* } */

/* project section */

#calculator{
    border-radius: 5px;
    position: relative;
    height: fit-content;
    width: 14rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 3.5px;
    cursor: pointer;
}

.project .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.project .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
    height: 25rem;
}

.project .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: rgba(255, 255, 255, 0.33);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project .box-container .box:hover .content {
    left: 0;
}

/* social-links section */
.social-links{
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.social-links :active {
    color: var(--green);
}
/* footer section */
.footer {
    position: relative;
    padding: 2px;
    background: rgba(52, 51, 51, 0.536);
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.footer span {
    font-size: 1.5rem;
    color: var(--green);
}

.footer p{
    font-size: 2rem;
    color: rgb(159, 159, 159);
}

#resume{
    position: relative;
    left: 80px;
}



/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    body {
        padding: 10px;
        margin: 10px;
    }

    section {
        padding: 2rem;
    }

    header {
        width: 20%;
        left: -120%;
    }

    header.active {
        left: 0%;
    }

    #menu-bars {
        display: initial;
    }

    .about .row .content {
        margin-top: 10px;
    }

    header .navbar {
        writing-mode: horizontal-tb;
        position: relative;
        margin: auto;
        padding: auto;
    }

    header .navbar a {
        display: block;
        font-size: 15px;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 4rem;
    }

}